:root {
    --gridSquareBg: #eeeeee;
    --mainContentMaxWidth: 900px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topBanner {
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */    
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 100%;
    max-width: var(--mainContentMaxWidth);
}

.navButtons {
    display: grid;
    grid-auto-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.topLogo, .topLogo img {
    height: 100%;
    padding: 0 1em;
}

.topBanner button {
    height: 100%;    
    flex-grow: 1;
}